.qr-code .qr-id {
  text-align: center;
  font-size: 36px;
  margin-top: 10px;
  font-weight: bold;
}

.qr-code {
  width: auto;
  display: inline-block;
  padding: 16px;
  background-image: url('https://raw.githubusercontent.com/ChandrahassTvs/qr-codes-custome-design/1e7bc4115f505c1e110e9439fe23c28880727539/src/assets/qr-background.svg');
  background-size: 100% 100%;
}

.qr-code-wrapper {
  transform: scale(0.45);
}

::ng-deep svg path:first-child {
  fill: transparent;
}
